@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body {
    height: 100%;
    background: orange;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
  background: white;
  color: orange;
  padding: 20px;
}
